@import "tailwindcss";


* {
    transition: all 0.6s ease;
    scroll-behavior: smooth;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(to top, #5DFFFF, #c72a81);
}


::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}

::-webkit-scrollbar{
    width: 5px;
}